/* Color Palette
*
*   #FFDEAD - Navajo White      (Tan)
*   #0A0908 - Rich Black FOGRA  (Black)
*   #22333B - Gunmetal          (Navy Blue)
*   #CC668F - Cinnamon Satin    (Pink)
*   #558C8C - Steel Teal        (Teel)
*
*/ 

/* Global styles
------------------------------------*/
html {
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body {
    color: #0A0908; 
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    line-height: 1.2;
    text-align: justify;
}

img {
    width: 300px;
}

a {
    color: #CC668F; 
}

a:hover {
    text-decoration: none;
}

h1, h2{
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter; 
    margin: 0;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2.5em;
    
}

.content-wrap {
    max-width: 800px;
    width: 85%;
    padding: 50px 0;
    margin: 0 auto; 
}

.divider > section {
    padding: 20px 5px; 
    border-bottom: 1px dashed whitesmoke;
}

.divider > section:last-of-type{
    border-bottom: none;
}


/* Profile
------------------------------------*/
header {
    background: #FFDEAD;
    text-align: center; 
}

/* Projects
------------------------------------*/
.projects {
    background: #0A0908;
    color: whitesmoke;
}

.projects a{
    color: whitesmoke;
}

.projects .btn{
    color: whitesmoke;
    background: #22333B;
    text-decoration: none; 
    padding: 8px 6px;
    border-radius: 4px; 
    display: inline-block; 
}

.projects .btn:hover{
    background: rgba(34, 51, 59, 80%);
}

.project-item{
    overflow: hidden;
   
  
}

.project-item img{
    float: left;
    margin-right: 20px;
}

.project-item h3{
    margin-top: 0;
}

/* Work Experience
------------------------------------*/
.work-experience {
    background: #22333B; 
    color: whitesmoke;
}

.job-item{
    display:grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
}


/* Education
------------------------------------*/
.education {
    color: whitesmoke;
    background-image: url(../images/joanna-kosinska-unsplash.jpg);
    background-size: cover;
    background-position: top right;
    padding-bottom: 100px;
}

.education p {
    width: 60%;
}

/* Contact Info
------------------------------------*/
footer {
   background: #FFDEAD; 
   text-align: center;
   
}

.contact-list{
    padding: 0;                     /*Removes Default Space*/
    list-style-type: none;          /*Removes Bullet Points*/

    display: flex;                  /*Enables the Flexbox Display*/
    justify-content: center;        /*Justifies Content to be Centered inside the box*/
}

.contact-list a{
    padding: 15px;
    display: inline-block;
}
